<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="single_service wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s">
            <div class="service_icon_wrap text-center">
                <div class="service_icon ">
                    <img src="img/1.jpg" alt="">
                </div>
            </div>
            <div class="info text-center">
                <span>Home Loan</span>
                <h3>$3000-$10000</h3>
            </div>
            <div class="service_content">
                <ul>
                    <li> Borrow - $350 over 3 months </li>
                    <li> Interest rate - 292% pa fixed</li>
                    <li>Total amount payable - $525.12</li>
                    <li>Representative - 1,286% APR</li>
                </ul>
                <div class="apply_btn">
                    <button class="boxed-btn3" type="submit">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="single_service wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="service_icon_wrap text-center">
                <div class="service_icon ">
                    <img src="img/svg_icon/service_2.png" alt="">
                </div>
            </div>
            <div class="info text-center">
                <span>car Loan</span>
                <h3>$3000-$10000</h3>
            </div>
            <div class="service_content">
                <ul>
                    <li> Borrow - $350 over 3 months </li>
                    <li> Interest rate - 292% pa fixed</li>
                    <li>Total amount payable - $525.12</li>
                    <li>Representative - 1,286% APR</li>
                </ul>
                <div class="apply_btn">
                    <button class="boxed-btn3" type="submit">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="single_service wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".5s">
            <div class="service_icon_wrap text-center">
                <div class="service_icon ">
                    <img src="img/svg_icon/service_3.png" alt="">
                </div>
            </div>
            <div class="info text-center">
                <span>Education Loan</span>
                <h3>$3000-$10000</h3>
            </div>
            <div class="service_content">
                <ul>
                    <li> Borrow - $350 over 3 months </li>
                    <li> Interest rate - 292% pa fixed</li>
                    <li>Total amount payable - $525.12</li>
                    <li>Representative - 1,286% APR</li>
                </ul>
                <div class="apply_btn">
                    <button class="boxed-btn3" type="submit">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
</div>